
:root {
    /*Colours*/
    --black: #000000;
    --green: #397c40;
    --brown: #542a2a;
    --mustardYellow: #faa714;
    --whiteCream: #eeead7;
    --white: white;

    /*Fonts*/
    --CursiveMain: "Patrick Hand SC", cursive;

    /*Font-sizes*/
    --fs-xs: 1rem;
    --fs-s: 1.5rem;
    --fs-m: 2rem;
    --fs-l: 2.5rem;
    --fs-l: 3rem;
    --fs-xxl: 3.5rem;

    /*Gaps*/
    --gap-s: 0.5rem;
    --gap-m: 1rem;
    --gap-l: 2rem;
    --gap-xl: 3rem;

    /*Border-radius*/
    --br-s: 1rem;
    --br-m: 2rem;

    /*Padding*/
    --pad-s: 0.5rem;
    --pad-m: 1rem;
    --pad-l: 2rem;
    --pad-xl: 3rem;
}