:root {
    /*Colours*/
    --green: #397c40;
    --blue: #060846;
    --red: #ee0044;
    --lightBlue: #33b0db;
    --mustardYellow: #faa714;
    --goldYellow: #f7c061;
    --whiteCream: #eeead7;

    /*Fonts*/
    --CursiveMain: "Patrick Hand SC", cursive;
    --Cursive: "Delicious Handrawn", cursive;
    --Roboto: "Roboto Flex", sans-serif;
}
