:root {
    /*Colours*/
    --black: #000000;
    --green: #397c40;
    --brown: #542a2a;
    --mustardYellow: #faa714;
    --whiteCream: #eeead7;

    /*Fonts*/
    --CursiveMain: "Patrick Hand SC", cursive;
}
